@{
    ViewBag.Title = "Home Page";
}
    <div >
        <div class="jumbotron">
            <img src="https://miro.medium.com/max/3920/1*GKn4H6U6nPp4XHdxSuNq1A.jpeg" style="max-width:100%" />

        </div>

        <div class="row">
            <div class="col-md-4">
                <h2 style="color:dimgrey">The Best Place to Find and Buy Art You Love</h2>
                <p style="color:ghostwhite">
                    Discover an unparalleled selection of art by artists from around the world to suit all budgets, styles, and spaces.
                </p>

            </div>
            <div class="col-md-4">
                <h2 style="color:dimgrey">What art means </h2>
                <p style="color:ghostwhite">A work of art in the visual arts is a physical two- or three- dimensional object that is professionally determined or otherwise considered to fulfill a primarily independent aesthetic function. A singular art object is often seen in the context of a larger art movement or artistic era, such as: a genre, aesthetic convention, culture, or regional-national distinction.[2] It can also be seen as an item within an artist's "body of work" or oeuvre. The term is commonly used by: museum and cultural heritage curators, the interested public, the art patron-private art collector community, and art galleries</p>

            </div>
            <h2 style="color:dimgrey">World view</h2>
            <p style="color:ghostwhite">
                Art is generally understood as any activity or product done by people with a communicative or aesthetic purpose—something that expresses an idea, an emotion or, more generally, a world view.

                It is a component of culture, reflecting economic and social substrates in its design. It transmits ideas and values inherent in every culture across space and time. Its role changes through time, acquiring more of an aesthetic component here and a socio-educational function there.
            </p>

        </div>
    </div>