@model proekt2.Models.ChargeViewModel

@{ 

    ViewBag.Title = "OrderStatus";
}

<div style="min-height:450px; width:100%; text-align:center">
    <img src="https://www.cashflow-manager.com.au/wp-content/uploads/2020/07/Thanks-for-shopping-with-us.png" style="margin:auto" />
</div>
