
@{
    ViewBag.Title = "BadRequest";
}

<style>
    .font {
        color: rgb(245, 245, 245);
    }
</style>
<div class="font">
    <h2>400 Error - Bad Request!</h2>
    <label>Sorry, the page you were looking for could not be found.</label>
</div>